body {
	margin: 0 auto;
	background-color: #f8f8f8;
}

header {
	width: 100%;
	height: 80px;
	background-color: white;
	box-shadow: 2px 2px 4px lightgray;
	text-align: center;
}

header img {
	margin-top: 15px;
	height: 50px;
}

.confirm {
	margin: 0 auto;
	border: 2px solid lightgray;
	width: 600px;
	background-color: white;
	border-radius: 10px;
	margin-top: 40px;
	margin-bottom: 40px;
	box-shadow: 4px 4px 4px lightgray;
}

.confirm_contents {
	margin: 30px 25px;
}

h2 {
	text-align: center;
	border-bottom: 1px solid #31A263;
	font-size: 20px;
}

.kakunin {
	text-align: center;
}

.koumoku {
	margin: 15px 30px;
}

.buttons {
	text-align: center;
	margin: 30px 0;
}

.button {
	display: inline-block;
}

.button1 {
	border: 1px solid lightgray;
	padding: 6px 60px 4px 60px;
	color: white;
	background-color: #bfbfbf;
	border-radius: 5px;
	border-bottom: 2px solid gray;
	width: 200px;
}

.button2 {
	border: 1px solid lightgray;
	padding: 6px 60px 4px 60px;
	color: white;
	background-color: #31A263;
	border-radius: 5px;
	border-bottom: 2px solid gray;
	width: 200px;
}

footer {
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 100%;
	height: 40px;
	background-color: white;
	color: gray;
	text-align: center;
	line-height: 40px;
	font-size: 13px;
	border-top: 2px solid lightgray;
}